body {
  margin: 0;
  background: #5b8e7d;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background: #f4a259;
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 4rem;
  border-bottom: 0.75rem solid #406458;
}

.logo {
  font-family: "Sarina", cursive;
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
}

nav a {
  display: inline-block;
  background-color: #f4e285;
  color: #000;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
  text-decoration: none;
  transition: background-color 150ms;
}

nav a:hover {
  background-color: #e0be15;
  text-decoration: underline;
}

main {
  background: #fff;
  margin: 0 auto 3rem;
  max-width: 40rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 15px 1px #333;
}

h1 {
  text-align: center;
}

.submit {
  text-align: center;
 
}

/* Button styles have been added for you */
button {
  background: #f4e285;
  border: none;
  padding: 1.5rem 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: background-color 150ms;
  cursor: pointer;
  
}

button:hover {
  background-color: #e0be15;
}

/* Add your form code below */
* {
  box-sizing: border-box;
}
.form-group {
  margin-bottom: 0.5rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.form-control {
  border-radius: 0.5rem;
  border: 2px solid #999;
  padding: 1rem;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  width: 100%
  
}

.form-control-label {
  border-radius: 0.5rem;
  border: 2px solid #999;
  padding: 0.5rem;
  font-size: 1.1rem;
  width: 4rem
}

#address {
  height: 3rem;
}

@media (min-width: 15rem) and (max-width: 43.93rem) {
  main {
    margin: 2rem;
  
  }
}

